{%extends "shared/_layout.html"%}
{%block title %}Register{%endblock %}


    {% block additional_css %}
    <link rel="stylesheet" href="/static/css/account.css"/>

{% endblock %}

{% block main_content %}

      <div class="form-container"></div>
      <form action="" method="POST" class ="account-form">
        <h1>Login</h1>
       <!-- <input name="name" type="text" placeholder="Your name" class="form-control" value="{{name}}"> --!>

        <input name ="email"type="email" placeholder="Your email address" class="form-control" value="{{email}}">

        <input name ="password" type="password" placeholder="Your password"  class="form-control" value="{{password}}"> 

        <button type="submit" class="btn btn-primary">Login</button>
          <div style="clear:both;"></div>

        {%if error%}
          <div class="error-msg">{{error}}</div>
          {%endif%}
        </form>

        

        {% endblock %}

        {% block additonal_js %}

        {% endblock %}  
      