{%extends "shared/_layout.html"%}
{%block title %}ABOUT{%endblock %}
{% block main_content %}

    <h1>Python package index</h1>
      
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <h1> {{page_title}}</h1>
      <div>
        <p> {{page_details}}</p>
      </div>

        {% endblock %}

        {% block additonal_js %}

        {% endblock %}  
      